h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3rem;
    text-align:left;
    text-transform: uppercase;
}

div {
    width: 700px;
    height: 200px;
    background-color: #000;
    position: relative;
}

div > div {
    width: 100%;
    height: 200px;
    background-color: #D00;
    position: absolute;
    top: 150px;
}

div > div > div {
    width: 100%;
    height: 145px;
    background-color: #FFCE00;
    position: absolute;
}
